.idea/
.vs/
.vscode/
build/
coverage/
node_modules/
commands/
Dev_stuff/
.DS_Store

.env
dotenv
*.proxies
success-*.png
screenshots/
token.txt
message_id.txt

*.wav
*.mp3
*.flac
*.exe
desktop.ini

twitch.json
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
